# BFG reports
.bfg-report/

# Data directories
data/
data/db/

# Dependency directories
**/node_modules/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
**/.next/
.next/
out/
build/
dist/

# Environment variables
.env
.env*.local

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Cache
.cache/
.npm/
.pnpm-store/

# TypeScript
*.tsbuildinfo

# Specific files
packages/squid/package-lock.json

# Docker files
*.log
*.log.*
*.log.*.*
*.log.*.*.*